.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  height: 190px;
}

.h-birthday {
  padding-left: 50px;
}
.profilePhoto {
  border-radius: 10px;
  &:hover {
    opacity: 0.8;
  }
  width: 220px;
  &:hover + .photoEditor {
    display: unset !important;
  }
}

.photoEditor {
  display: none !important;
  position: "abosolute" !important;
  bottom: 170px !important;
  left: 90px !important;
  &:hover {
    display: unset;
  }
}
